body
{
    font-family: "Montserrat", sans-serif;
}
/* nav */
.navbar-toggler i
{
    color: white;
}
.navbar-collapse
{
    flex-grow: 0;
}
.navbar-brand
{ 
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-nav .active
{
    border-bottom: 2px solid white;
}
/* header */
.header
{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../imgs/bg.jpg);
    background-position: center center;
    background-size: cover;
}
.header-content h5
{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header-content h1
{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    position: relative;
}
.header-content h1::after
{
    content: "|";
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-weight: 500;
}
@keyframes text
{
    0%{ content: "";}
    2%{ content: "|";}
    4%{ content: "L|";}
    6%{ content: "La|";}
    8%{ content: "Lar|";}
    10%{ content: "Larr|";}
    12%{ content: "Larry|";}
    14%{ content: "Larry |";}
    16%{ content: "Larry D|";}
    18%{ content: "Larry D|";}
    20%{ content: "Larry Da|";}
    22%{ content: "Larry Dan|";}
    24%{ content: "Larry Dani|";}
    26%{ content: "Larry Danie|";}
    28%{ content: "Larry Daniels|";}
    38%{ content: "Larry Daniels|";}
    40%{ content: "";}
    42%{ content: "|";}
    44%{ content: "D|";}
    46%{ content: "De|";}
    48%{ content: "Des|";}
    50%{ content: "Desi|";}
    52%{ content: "Desig|";}
    54%{ content: "Design|";}
    56%{ content: "Designe|";}
    58%{ content: "Designer|";}
    68%{ content: "Designer|";}
    70%{ content: "";}
    72%{ content: "|";}
    74%{ content: "D|";}
    76%{ content: "De|";}
    78%{ content: "Dev|";}
    800%{ content: "Deve|";}
    82%{ content: "Devel|";}
    84%{ content: "Develo|";}
    86%{ content: "Develop|";}
    88%{ content: "Develope|";}
    90%{ content: "Developer|";}
    100%{ content: "Developer|";}
}
.social-icons
{
    margin-top: 30px;
}
.social-icons i
{
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
}
/* about */
.about
{
    padding: 100px 0;
}
.pb
{
    padding-bottom: 70px !important;
}
.about-photo
{
    position: relative;
}
.about-photo::after
{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.about-content
{
    margin-bottom: 30px !important;
}
.about-content h3
{
    font-weight: 800;
    margin-bottom: 5px;
}
.about-content span
{
    color: #999;
    letter-spacing: 2px;
    font-size: 14px;
}
.about-content p
{
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.skill
{
    margin-top: 30px;
}
.skill-progress
{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
    height: 25px;
    margin-bottom: 30px;
}
.skill-progress h6
{
    font-size: 13px;
    color: #fff;
    position: relative;
    z-index: 2;
}
.skill-progress span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #1c1c1c;
}
.skill-progress span::after
{
    content: "95%";
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}
.skill-progress .span1
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #1c1c1c;
}
.skill-progress .span1::after
{
    content: "80%";
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}
.skill-progress .span2
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #1c1c1c;
}
.skill-progress .span2::after
{
    content: "90%";
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}
.about-content .but
{
    margin-top: 20px;
    background: #1c1c1c;
    color: #eee;
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
}
.about-content .but:hover
{
    background: transparent;
    color: #1c1c1c; 
}
.about-content .but1
{
    margin-top: 20px;
    background: transparent;
    color: #1c1c1c;
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
}
.about-content .but1:hover
{
    background: #1c1c1c;
    color: #eee;
}
.services
{
    background: #f7f7f7;
    padding: 100px 0;
    padding-bottom: 70px !important;
}
.services-title
{
    margin-bottom: 80px;
    text-align: center;
}
.services-title h3
{
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.services-title h3::after
{
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.services-cards
{
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 5px;
}
.services-cards:hover .ico-circle
{
    background-color: black;
    color: #fff;
}
.services-ico
{
    margin-bottom: 1rem;
    color: #1e1e1e;
}

.ico-circle
{
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
    padding: 15px 18px;
}
.services-content h6
{
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}
.services-content p
{
    word-spacing: 2px;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    color: #748182;

}
/* portfolio */
.portfolio
{
    padding: 100px 0;
    padding-bottom: 70px !important;
}
.portfolio-title
{
    margin-bottom: 80px;
    text-align: center;
}
.portfolio-title h3
{
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.portfolio-title h3::after
{
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.portfolio-content .nav
{
    --bs-link-color:black;
    --bs-link-hover-color:black;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
}
.portfolio-content .nav-pills
{
    --bs-nav-pills-link-active-color: #000000;
    --bs-nav-pills-link-active-bg: #ffffff;
}
.nav-item .active
{
    position: relative;
}
.nav-item .active::after
{
    width: 100%;
    content: "";
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 1px;
    z-index: 1;
    background: rgb(17, 17, 17);
    transition: all 0.4s ease 0s;
    text-align: center;
}
.gallery-white
{
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: auto;
    z-index: 1;
    transition: all 0.5s;
}
.gallery:hover .gallery-white
{

    opacity: 1;
}
.gallery-ico i
{
    background-color: #000000;
    border-radius: 50%;
    color: white;
    border: 1px solid white; 
}
.gallery-ico i:hover
{
    background-color: white !important;
    color: #000000 !important;
    border: 1px solid black;   
}
/* clients */
.clients
{
    padding: 100px 0;
    padding-bottom: 70px !important;
    background: #f7f7f7;
}
.clients-title
{
    margin-bottom: 30px;
    text-align: center;
}
.clients-title h3
{
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.clients-title h3::after
{
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.carousel-item p
{
    line-height: 1.6;
    font-size: 15px;
    color: rgb(116, 129, 130);
    word-spacing: 2px;
    padding-top: 20px;
}
.carousel-item h6
{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0px 5px;
}
.carousel-item span
{
    font-size: 12px;
    font-weight: 600;
    color: rgb(136, 136, 136);
}
.carousel-indicators button
{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: gray !important;
    margin-inline: 7px !important;
}
.carousel-indicators
{
    bottom: -50px;
}
.img
{
    width: 10%;
}
/* analyses */
.analyses
{
    padding: 100px 0;
    padding-bottom: 70px !important;
}
.item i
{
    font-size: 30px;
    margin-bottom: 15px;
}
.item h3
{
    font-weight: 900;
    margin-bottom: 15px 
}
.item p
{
    font-weight: 600;
    margin-bottom: 30px !important;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
/* team */
.team
{
    padding: 100px 0;
    padding-bottom: 70px !important;
    background: #f7f7f7;
}
.team-title
{
    margin-bottom: 30px;
    text-align: center;
}
.team-title h3
{
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.team-title h3::after
{
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.team-content
{
    padding-top: 5%;
}
.team-item
{
    background-color: rgba(52, 52, 52,.8);
    margin-bottom: 10px;
    border-radius: 6px;
}
.team-item-img
{
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}
.team-item-img:hover .team-item-social
{
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}
.team-item-img:hover
{
    transform: scale(1.2);
}
.team-item-social
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}
.team-item-social ul
{
    list-style: none;
    padding-left: 0px;
}
.team-item-social li
{
    padding: 2px 10px;
    margin: 10px;
    background-color: #000000;
    color: white;
    border: 1px solid white; 

}
.team-item-social li:hover
{
    background-color: white !important;
    color: #000000 !important;
    border: 1px solid black;
}
.team-item-social i
{
    font-size: 14px;
    margin-inline: auto;
}
.team-item-text
{
    padding: 25px;
    color: #fff;
}
.team-item-text h4
{
    margin: 0 0 5px;
}
.team-item-text h5
{
    font-weight: bold;
}
/* contact */
.contact
{
    padding: 100px 0;
}
.contact-title
{
    margin-bottom: 60px;
    text-align: center;
}
.contact-title h3
{
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.contact-title h3::after
{
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.mb-50
{
    margin-bottom: 50px !important;
}
.contact-item
{
    margin-bottom: 30px;
}
.contact-item span
{
    padding: 15px 20px;
    width: fit-content;
    margin-inline: auto;
    font-size: 25px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}
.contact-item:hover span
{
    color: white;
    background-color: #000000;
}
.contact-item h6
{
    font-weight: 700;
    margin-top: 15px !important;
    margin-bottom: 10px;
}
.contact-item p
{
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.form-group 
{
    margin-bottom: 15px;
}
.form-group input
{
    border: 0px solid;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
    box-shadow: none;

}
.form-group input:focus
{
    border: 0px solid transparent !important;
    box-shadow: none !important;
    outline: none;
}
.form-group textarea
{
    height: 160px;
    width: 100%;
    max-width: 100%;
    max-height: 160px;
    border: 0 solid;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
    resize: both;
}
.form-group textarea:focus
{
    border: 0px solid transparent !important;
    box-shadow: none !important;
    outline: none;
}
.contact .form .buton 
{
    padding: 7px 35px;
    font-size: 14px;
}
.buton-bg:hover 
{
    background: transparent !important;
    color: #343434 !important;
    border: 1px black solid;
}
.buton{
    background: #1c1c1c;
    color: #eee;
    border: transparent 1px solid;
    border-radius: 4px;
    transition: all 0.5s;
}
footer
{
    background: #1c1c1c;
    padding: 30px;
}
footer p 
{
    font-size: 13px;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    color: #748182;
}
@media screen and (max-width: 991px) {
    .navbar-nav .active
    {
        border-bottom: 0px solid white;
    }
    .navbar-nav
    {
        background-color: white;
        text-align: center;
    }
    .nav-link
    {
        color: black !important; 
    }
    .navbar-toggler
    {
        color:transparent;
        border: none;
    }
    .img
    {
        width: 20%;
    }
}
@media (min-width: 992px)
{
.col-md-offset-1 {
    margin-left: 8.33333333%;
}
}